
Data/LODES/Original/ny_od_main_JT01_2021.csv
Data/LODES/Original/ny_od_main_JT01_2019.csv
Data/LODES/Original/ny_od_aux_JT01_2021.csv
Data/LODES/Original/ny_od_aux_JT01_2019.csv
Data/LODES/Original/nj_od_main_JT01_2021.csv
Data/LODES/Original/nj_od_main_JT01_2019.csv
Data/LODES/Original/nj_od_aux_JT01_2021.csv
Data/LODES/Original/nj_od_aux_JT01_2019.csv
Data/LODES/OD_final_2021.csv
Data/LODES/OD_final_2019.csv
Data/LODES/Match & AI.csv
Data/LODES/JOB_NUMBER_BY_COUNTY_2021.csv
Data/LODES/Home_Job_Original_CT/HOME_JOB_2021.csv
Data/LODES/Home_Job_Original_CT/HOME_JOB_2019.csv
Data/LODES/HOME_JOB_NUMBER_BY_COUNTY/JOB_NUMBER_BY_COUNTY_2021.csv
Data/LODES/HOME_JOB_NUMBER_BY_COUNTY/JOB_NUMBER_BY_COUNTY_2019.csv
Data/LODES/HOME_JOB_NUMBER_BY_COUNTY/HOME_NUMBER_BY_COUNTY_2021.csv
Data/LODES/HOME_JOB_NUMBER_BY_COUNTY/HOME_NUMBER_BY_COUNTY_2019.csv
Data/LODES/COMMUTE_COUNTY_2021.csv
Data/LODES/COMMUTE_COUNTY_2019.csv
Data/Geo/nys_ct_2020.geojson
Data/Geo/nyc_ct_2020/nyct2020_23d/nyct2020.shx
Data/Geo/nyc_ct_2020/nyct2020_23d/nyct2020.shp.xml
Data/Geo/nyc_ct_2020/nyct2020_23d/nyct2020.shp
Data/Geo/nyc_ct_2020/nyct2020_23d/nyct2020.prj
Data/Geo/nyc_ct_2020/nyct2020_23d/nyct2020.dbf
Data/Geo/ny_state_tract2020/tl_2020_36_tract.shx
Data/Geo/ny_state_tract2020/tl_2020_36_tract.shp.iso.xml
Data/Geo/ny_state_tract2020/tl_2020_36_tract.shp.ea.iso.xml
Data/Geo/ny_state_tract2020/tl_2020_36_tract.shp
Data/Geo/ny_state_tract2020/tl_2020_36_tract.prj
Data/Geo/ny_state_tract2020/tl_2020_36_tract.dbf
Data/Geo/ny_state_tract2020/tl_2020_36_tract.cpg
Data/Geo/metro.geojson
Data/Geo/hudson_census-tracts-2020.geojson
